# Entorno virtual
.venv/

# Cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Checkpoints de Jupyter
.ipynb_checkpoints/

# Archivos temporales de sistema
.DS_Store
Thumbs.db

# Carpetas de VS Code
.vscode/
